<h1 align="center">Login</h1>
<%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>

  <div class="form-group">
    <div class="control-label col-sm-3">
      <i class="fas fa-envelope"></i>
    </div>
    <div class="col-sm-6">
      <%= f.email_field :email, class: "form-control", placeholder: "Email Addres" %>
    </div>
  </div>
  <div class="form-group">
    <div class="control-label col-sm-3">
      <i class="fas fa-lock"></i>
    </div>
    <div class="col-sm-6">
      <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "Password" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-10">
      <%= f.submit "Login", class: "btn btn-primary btn-lg" %>
    </div> 
  </div>
  <div class="col-sm-offset-3 col-sm-10">
    <small>New Here? <%= link_to  "SignUp", signup_path %></small>
  </div>
<% end %>
