<% obj.each do |article| %>
    <div class="article__wrapper">
      <div class="article">
        <h4 class="article-title"><%= article.title %></h4>
        <div class="seperator"></div>
        <div class="article-meta-details">
          <small class="article-username">By: <%= article.user.username if article.user %></small>
          <small><%= time_ago_in_words(article.created_at) %> ago</small>
        </div>
        <div class="article-body">
          <p><%= sanitize article.description.truncate(80) %></p>
        </div>
        <div class="article-category">
          <% if article.categories.any? %>
            <%= render article.categories %>
          <% end %>
        </div>
        <div class="article-actions">
          <span><%= link_to "READ MORE", article_path(article), class: "readmore-action" %></span>
          <span>
            <% if logged_in? && (current_user == article.user || current_user.admin?) %>
              <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_article_path(article) %>
              |
              <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, article_path(article), method: :delete,
                data: {confirm: "Are you sure you want to delete?"} %>
            <% end %>
          </span>
        </div>
        
      </div>
    </div>
<% end %>
