<%= render 'shared/errors', obj: @article %>

<div class='article-editor__wrapper'>
    <%= form_for(@article, :html => {class: "new-article", role: "form"}) do |f| %>
      <%= f.text_field :title, placeholder: "Title please...", autofocus: true %>
      <%= f.text_area :description, rows: 10, placeholder: "Share your story...", class: 'quill_container' %>
      
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
        <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text.capitalize} %>
      <% end %>

      <div class="new-article__actions">
        <%= f.submit class: "publish-button" %>
      </div>
    <% end %>
</div>
