<div id="main-bloggers-listing">
  <div class="container-wrapper">
    <div class="bloggers-listing__heading">
      <h2>Featured Bloggers</h2>
      <div class="seperator"></div>
    </div>
    <div class="bloggers__listing">
      <% @users.each do |user| %>
        <div class="blogger-wrapper">
          <%= link_to user_path(user), class: "no-decoration" do %>
            <div class="blogger-info">
              <div class="blogger__image">
                <%= gravatar_for(user) %>
              </div>
              <p class="blogger__name"><%= user.username.capitalize %></p>
              <p class="blogger__articles"><%= pluralize(user.articles.count, "article") if user.articles %></p>
            </div> 
          <% end %>
          
        </div>
        
      <% end %>
    </div>
  </div>
  <div  align="center">
    <%= will_paginate %>
  </div>
</div>

