<h1 align=center><%= @user.username %>'s page</h1>
<div class="row">
  <div class="user-image">
    <%= gravatar_for @user, size:150 %>
  </div>
  <p><%= @user.username %></p>
  <p><%= @user.email %></p>
</div>
<div class="btn btn-xs btn-primary">New Article</div>

<% if @user_articles.length > 0 %>
  <%= render  "articles/article", obj: @user_articles %>
<% else %>
  <p>Sorry, you do not have any articles yet! Click on the <strong>New Article</strong> button above.</p>
<% end %>
<div align="center"><%= will_paginate @user_articles %></div>
