<div id="main-dashboard">
  <div class="container-fluid">
    <div class="row">
      <div class="profile-info">
        <div class="profile-info__image">
          <%= gravatar_for @user, size:150 %>
        </div>
        <div class="profile-info__content">
          <h2 class="user-name"><%= @user.username.capitalize %>'s page</h2>
          <small class="user-email"><%= @user.email %></small>
          <p class="user-bio"><%= @user.biography.capitalize if @user.biography %></p>
          <div>
            <% if current_user == @user %>
              <span class="profile-info__action edit-btn" type="button">Edit Profile</span>
            <% else %>
              <%  if logged_in? %>
                <a href="#" class="profile-info__action" type="button">Follow</a>
              <% end %>
              <%  if logged_in? && current_user.admin? %>
                <%= link_to  "Delete", user_path(@user), method: :delete,
                    data: {confirm: "Are you sure you want to delete?"}, 
                    class: "profile-info__action" , type: "button" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-tab__menu">
    <p id="posts" class="menu__items active">Posts</p>
    <p id="followers" class="menu__items">Followers</p>
    <p id="following" class="menu__items">Following</p>
  </div>

  <div class="dashboard-tab">
    <div class="main-posts__wrapper">
      <div class="main-posts">
        <% if @user_articles.length > 0 %>
          <div class="articles-grid">
            <%= render  "articles/article", obj: @user_articles %>
          </div>
        <% else %>
          <% if current_user == @user %>
            <div class="no-articles">
              <p>Sorry, you do not have any articles yet!</p>
            </div>
          <% else %>
            <div class="no-articles">
              <p>Sorry, this user does not have any articles yet!</p>
            </div>
          <% end %>
        <% end %>
      </div>
      <div align="center"><%= will_paginate @user_articles %></div>
    </div>

    <div class="main-followers">
      <% if current_user == @user %>
        <p>You have no followers yet :,(</p>
      <% else %>
        <p>This user has no followers yet :,(</p>
      <% end %>
    </div>

    <div class="main-following">
      <% if current_user == @user %>
        <p>You are currently not following anyone...</p>
      <% else %>
        <p>This user is currently not following anyone...</p>
      <% end %>
    </div>
  </div>
</div>

<%= render  "edit" %>
