<div id="main-category-listing">
  <div class="container-wrapper">
    <div class="category-listing__heading">
      <h2>Featured Categories</h2>
      <div class="seperator"></div>
    </div>
    <% if logged_in? and current_user.admin? %>
      <div class="new-category">
        <span class="new-category__btn">Create</span>
      </div>
    <% end %>
    <div class="category__listing">
      <% @categories.each do |category| %>
        <div class="category-wrapper">
          <%= link_to category_path(category), class: "no-decoration" do %>
            <div class="category-content">
              <h4><%= category.name.capitalize %></h4>
              <span class="category-articles__link"><%= pluralize(category.articles.count, "article") %></span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div  align="center">
    <%= will_paginate %>
  </div>
</div>

<%= render "new" %> 
