<nav class="navbar navbar-default">
  <div class="container" id="<%= if current_page?(signup_path) || current_page?(login_path) then 'auth-container' else 'pages-container' end %>">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'youBlog', root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <% if current_page?(signup_path) %>
      <span><%= link_to "Log in", login_path %></span>
    <% elsif current_page?(login_path) %>
      <span><%= link_to "Sign Up", signup_path %></span>
    <% else %>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% if current_page?(root_path) || current_page?(articles_path) %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories</i><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "All Categories", categories_path %></li>
                <% Category.all.each do |category| %>
                  <li><%= link_to  "#{category.name.capitalize}", category_path(category) %></li>
                <% end %>
                <% if logged_in? and current_user.admin? %>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "New Category", new_category_path %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
        <div class="navbar-search-bar">
          <input type="text" class="search-bar__input" placeholder="Search">
          <button type="submit"><i class="fas fa-search"></i></button>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li><a href="#"><i class="far fa-bell"></i></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <% if current_user.admin? %>
                  <i class="fas fa-user-shield"></i>
                <% else %>
                  <i class="fas fa-user"></i>
                <% end %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Home', articles_path %></li>
                <li><%= link_to 'Authors', users_path %></li>
                <li><%= link_to "Write a post", new_article_path %></li>
                <li><%= link_to "My Profile", user_path(current_user) %></li>
                <li><a href="#">Bookmarks</a></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "LogOut", logout_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <span><%= link_to "Log in", login_path %></span>
            <span><%= link_to "Sign Up", signup_path %></span>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    <% end %>
  </div><!-- /.container-fluid -->
</nav>
