<nav class="navbar navbar-default">
  <div class="container" id="<%= if current_page?(signup_path) || current_page?(login_path) then 'auth-container' else 'pages-container' end %>">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to 'youBlog', root_path, class: "navbar-brand" %>
    </div>

    <div class="navbar-toggle-btn">
      <i class="fas fa-bars"></i>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <% if current_page?(signup_path) %>
      <span><%= link_to "Log in", login_path %></span>
    <% elsif current_page?(login_path) %>
      <span><%= link_to "Sign Up", signup_path %></span>
    <% else %>
      <div class="main-navbar" id="main-navbar">
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li class="navbar-search-bar">
              <input type="text" class="search-bar__input" placeholder="Search here...">
            </li>
            <li><a href="#"><i class="far fa-bell"></i></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <% if current_user.admin? %>
                  <i class="fas fa-user-shield user-profile"></i>
                <% else %>
                  <i class="fas fa-user user-profile" ></i>
                <% end %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Home', articles_path %></li>
                <li><%= link_to 'Bloggers', users_path %></li>
                <li><%= link_to "Categories", categories_path %></li>
                <li><%= link_to "Write a post", new_article_path %></li>
                <li><%= link_to "My Profile", user_path(current_user) %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "LogOut", logout_path, class: "logout__link", method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to 'Bloggers', users_path, class: "bloggers__link" %></li>
            <li><%= link_to "Categories", categories_path, class: "categories__link" %></li>
            <li><%= link_to "Login", login_path, class: "login__link" %></li>
            <li><%= link_to "SignUp", signup_path, class: "signup__link" %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div><!-- /.container-fluid -->

  <!-- /.navbar-main-navbar -->
    <div class="mobile-navbar">
      <ul class="navbar__items">
        <% if logged_in? %>
          <li><%= link_to 'Home', articles_path %></li>
          <li><%= link_to 'Bloggers', users_path %></li>
          <li><%= link_to "Categories", categories_path %></li>
          <li><%= link_to "Write a post", new_article_path %></li>
          <li><%= link_to "My Profile", user_path(current_user) %></li>
          <hr />
          <li><%= link_to "LogOut", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Bloggers', users_path, class: "bloggers__link" %></li>
          <li><%= link_to "Categories", categories_path, class: "categories__link" %></li>
          <li><%= link_to "Login", login_path, class: "login__link" %></li>
          <li><%= link_to "SignUp", signup_path, class: "signup__link" %></li>
        <% end %>
      </ul>
    </div>
</nav>
